.user-card {
    width: 250px;
    height: 120px;
    background-color: $gray;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    position: relative;
    transition: transform 0.5s;
    text-decoration: none;

    & > .type {
        color: $gray1;
        font-size: 12px;
        text-transform: uppercase;
    }

    & > .name {
        color: $white;
        font-size: 20px;
        text-transform: uppercase;
        width: 152px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    & > .avatar {
        position: absolute;
        top: 16px;
        right: 16px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &:hover {
        background-color: $gray2;
        cursor: pointer;
        transform: scale(1.1);
    }
}