.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
        flex-wrap: nowrap;
        gap: 5px;

        & > svg {
            margin-right: -4px;
        }
    }
}